
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Roboto Mono", monospace;
}
body{
    background-color: #D1CECF;
}
.container{
    min-height: 100vh;
    padding: 10px;
    width: 100%;
    display: flex;

}
.section-one{
    width: 40%;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
    
}
.user-input{
    display: flex;
}
.user-input input{
    padding: 5px 15px;
    border-radius:15px 0px 0px 15px ;
    border: none;
    outline: none;
    background-color: #EFEFEF;
    width: 300px;
    font-size: 18px;
}
.input-icon{
    background-color: #EFEFEF;
    padding: 5px 10px 5px 5px;
     border-radius:0px 15px 15px 0px;
}
.input-icon i{
    color: #748CF1;
}
.section-two{
    width: 60%;
    background-color: #EFEFEF;
    padding: 30px;

}
.boxes{
    row-gap: 30px;
    column-gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    
}
.section-two h1{
    font-size: 24px;
}
 .box{
    width: 200px;
    height: 120px;
    background: linear-gradient( #abb7e7, #6077f9);
    border-radius: 12px;
    padding: 5px 10px;
    color: white;
    transition: scale 0.2s ease;
}
.box:hover{
    scale: 1.04;
}
.section-two p{
    color: hsl(0, 2%, 92%);
    font-size: 12px;
}
.section-two div{
    color: hsl(0, 2%, 92%);
    margin-top: 10px;
    font-size: 14px;
}
.weather-temp{
    font-size: 50px;
}
.weather-mood{
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    color: #535353;

}
.date-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    font-size: 15px;
}
.location{
    font-size: 25px;
}


.weather-icon {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.icon{
    display: flex;
    gap: 5px;
}



@media(max-width:1270px){
    .box{
        width: 170px;
        height: 100px;
    }
    .container{
        padding: 0px;
    }
    .section-one,.section-two{
        padding: 10px 30px;
    }
    .icon .p-tem{
        font-size: 10px;
    }
    .tem-his .up,.tem-his .down{
        font-size: 12px;
    }

}
@media(max-width:1000px){
    .box{
     width: 140px;
        height: 100px;
        font-size: 14px;
        padding: 5px 10px;
    }
    .box div{
        margin-top: 10px;
    }
    
}

@media(max-width:850px){
    .section-one{
        width: 30%;
    }
    .section-two{
        width: 70%;
    }
    .user-input input{
        width: 170px;
        font-size: 14px;
    }
    .location{
        font-size: 16px;
    }
}
@media(max-width:732px){
    .box{
        width: 120px;
    }
    .box-7 p{
        font-size: 11px;
    }
}
@media(max-width:712px){
    .date-time .time{
        font-size: 12px;
    }
    .user-input input{
        width: 150px;
    }
}
@media(max-width:645px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .section-one{
        width: 100%;
        
    }
    .section-two{
        width: 100%;
    }
    .date-time .time{
        font-size: 1rem;
    }
    .user-input input{
        width: 90%;
        max-width: 500px;
        font-size: 16px;
    }
}